/* Header */

.header {
    width: 100%;
    height: 5rem;
    
    display: flex;
    align-items: center;
    position: fixed;
}

.header__nav {
    width: inherit;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav__ul {
    width: 20rem;
    height: inherit;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.ul__li--nav {
    margin-right: 2rem;
}

.li__a--nav {
    cursor: pointer;
    border-bottom: 0.1rem solid transparent;
    transition: 0.1s;
}

.li__a--nav:hover {
    border-bottom: 0.1rem solid black ;
}

.li__a--nav--img {
    cursor: pointer;
    width: 2rem;
}

.li__a--nav--img:hover {
    border-radius: 50%;
    background-color: rgb(175, 175, 175);
}

.a__span--nav {
    font-size: 1.3rem;
}

.a__img--nav {
    border-radius: 50%;
}



/* Main */
.main {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    align-items: center;
}

.main__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__picture--main {
    margin-top: 5.5rem;
    width: 25rem;
}

.picture__img--main {}

.section__form--main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 2rem;

    /* background-color: violet; */
}



.form__div--search--main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div__picture--search--main {
    width: 1.5rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-right: 0.8rem;
    margin-left: 1rem;
}

.picture__img--search--main--lupe {}

.div__div--search--main {
    width: 46.5rem;
    height: 3rem;

    border-radius: 15rem;
    border: 0.1rem solid #dfe1e5;

    display: flex;
    justify-content: center;
    align-items: center;
}

.div__div--search--main:hover {
    box-shadow: 0 0.1rem 0.6rem 0 #20212447;
    border-color: #dfe1e500;
}

.div__input--search--main {
    width: 43rem;
    height: inherit;

    border-radius: inherit;
    outline: none;
}

.div__a--search--main {
    margin-right: 1.2rem;
}

.a__picture--search--main {
    width: 2rem;
}

.picture__img--search--main--camera {}



.form__div--inputs--main {
    margin-top: 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.div__input--inputs--main {
    width: 12.3rem;
    height: 3rem;

    background-color: #dfe1e5 ;
    border: 0.1rem solid #dfe1e5;
    border-radius: 0.3rem;
    
    margin-left: 1rem;

    font-size: larger;
}

.div__input--inputs--main:hover {
    box-shadow: 0rem 0.1rem 0.1rem 0 #20212447;
    border-color: #dfe1e500;
    cursor: pointer;
}


.section__div--links--main {
    margin-top: 3rem;
}

.div__span--links--main {
    display: flex;
    flex-direction: row;

    font-size: 1.4rem;
}

.span__a--links--main {
    font-size: 1.4rem;
    color: rgb(0, 0, 161);
    margin-left: 1rem;
}

.span__a--links--main:hover {
    border-bottom: 0.1rem solid rgb(0, 0, 161) ;
}
